.clients {
  width: 100%;
  padding: 0 15px;

  &__tittle {
    margin-bottom: 50px;

    @include font(700, 36px, 1.16, 0.03em);
    text-align: center;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
  }

  &__item {
    display: flex;
    margin-bottom: 30px;
    width: calc(100% / 2 - 30px);
    height: 90px;

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $icon-main-color;
    border-radius: 4px;

    width: 100%;
    height: 100%;

    color: $icon-main-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: $accent-color;
      color: $accent-color;
    }
  }

  &__icon {
    fill: currentColor;

    &--logo-1 {
      width: 44.27px;
      height: 49.23px;
    }

    &--logo-2 {
      width: 40px;
      height: 52px;
    }

    &--logo-3 {
      width: 41px;
      height: 42.6px;
    }

    &--logo-4 {
      width: 79.66px;
      height: 42.02px;
    }

    &--logo-5 {
      width: 59px;
      height: 47px;
    }

    &--logo-6 {
      width: 88.48px;
      height: 45.44px;
    }
  }
}
