.footer {
  background-color: $banner-background-color;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    text-align: center;
    padding: 0 15px;
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
    padding: 0px;
    text-decoration: none;
  }

  &__join-field {
    height: 80px;
  }

  &__text {
    margin-bottom: 20px;

    @include font(700, 14px, 1.14, 0.03em);
    color: $alt-text-color;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 767px) {
  .footer__tablet-box {
    margin-bottom: 60px;
  }

  .footer__contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .footer__tablet-box {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
  }
}
