.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  position: relative;
  padding: 40px;

  background-color: $main-background-color;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__close {
    position: absolute;
    display: block;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border: 0px;

    background-color: $main-background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &:hover,
    &:focus {
      color: $accent-color;
      outline: 0;
    }

    &-icon {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;

      width: 18px;
      height: 18px;

      fill: currentColor;
    }
  }

  &__tittle {
    @include font(700, 20px, 1.5, 0.03em);
    margin-bottom: 12px;
    text-align: center;
  }

  &__label {
    display: block;
    padding-bottom: 4px;

    @include font(400, 12px, 1.16, 0.01em);

    color: $secondary-text-color;
  }

  &__input-field {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
  }

  &__input {
    width: 100%;
    height: 40px;
    padding: 11px 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      outline: 0;
      border-color: $accent-color;
    }
  }

  &__input-logo {
    position: absolute;
    display: block;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__input:focus + & {
      fill: $accent-color;
    }
  }

  &__input-field--comment {
    margin-bottom: 20px;
  }

  &__comment {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      outline: 0;
      border-color: $accent-color;
    }

    &:placeholder-shown {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__accept-label {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
    cursor: pointer;
  }

  &__accept-text {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    &::before {
      content: '';
      display: inline-block;
      margin-right: 7px;
      vertical-align: middle;
      width: 16px;
      height: 15px;
      border: 2px solid black;
      border-radius: 2px;
    }

    .modal__input-accept:checked + &::before {
      border-color: $accent-color;
      background-color: $accent-color;
      background-image: url('../images/svg/accept.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__accept-link {
    color: $accent-color;
    text-decoration: underline;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }

  &__button {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    top: 208px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 528px;
  }

  .modal__tittle {
    line-height: 1.15;
  }

  .modal__accept-text {
    font-size: 14px;
    line-height: 1.71;
  }

  .modal__accept-link {
    font-size: 14px;
    line-height: 1.71;
  }
}
