.nav {
  display: flex;
  align-items: center;

  &__menu {
    display: none;
    margin-left: 93px;
  }

  &__item {
    display: inline-block;
  }

  &__item:not(:first-child) {
    margin-left: 50px;
  }

  &__link {
    display: inline-block;
    padding: 32px 0;

    @include font(500, 14px, 1.14, 0.02em);

    color: $main-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link--current-page {
    position: relative;
    color: $accent-color;
  }

  &__link--current-page::after {
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 4px;

    background-color: $accent-color;
    top: calc(100% - 3px);
  }
}
