.principles {
  width: 100%;
  padding: 0 15px;

  // &__list {
  //   display: flex;
  // }

  &__text {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.71;
  }

  &__tittle {
    text-align: center;
    margin-bottom: 10px;
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
  }

  &__item {
    // width: calc((100% - 90px) / 4);

    // вложенный бэкграунд //

    &--sputnik::before {
      content: '';
      display: block;
      margin-bottom: 30px;
      height: 120px;
      background-color: $secondary-background-color;
      border-radius: 4px;
      background-image: url('../images/antenna.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &--clock::before {
      content: '';
      display: block;
      margin-bottom: 30px;
      height: 120px;
      background-color: $secondary-background-color;
      border-radius: 4px;
      background-image: url('../images/clock.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &--diagram::before {
      content: '';
      display: block;
      margin-bottom: 30px;
      height: 120px;
      background-color: $secondary-background-color;
      border-radius: 4px;
      background-image: url('../images/diagram.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &--austronaut::before {
      content: '';
      display: block;
      margin-bottom: 30px;
      height: 120px;
      background-color: $secondary-background-color;
      border-radius: 4px;
      background-image: url('../images/astronaut.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    // &:not(:first-child) {
    //   margin-left: 30px;
    // }
  }
}
