.principles {
  width: 100%;
  padding: 0 15px;

  &__text {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.71;
  }

  &__tittle {
    margin-bottom: 10px;
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
  }

  &__item {
    // width: calc((100% - 90px) / 4);

    // вложенный бэкграунд //

    &--sputnik::before {
      content: '';
      display: block;
      margin-bottom: 30px;
      height: 120px;
      background-color: $secondary-background-color;
      border-radius: 4px;
      background-image: url('../images/antenna.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &--clock::before {
      content: '';
      display: block;
      margin-bottom: 30px;
      height: 120px;
      background-color: $secondary-background-color;
      border-radius: 4px;
      background-image: url('../images/clock.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &--diagram::before {
      content: '';
      display: block;
      margin-bottom: 30px;
      height: 120px;
      background-color: $secondary-background-color;
      border-radius: 4px;
      background-image: url('../images/diagram.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &--austronaut::before {
      content: '';
      display: block;
      margin-bottom: 30px;
      height: 120px;
      background-color: $secondary-background-color;
      border-radius: 4px;
      background-image: url('../images/astronaut.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media screen and (max-width: 767px) {
  .principles__item {
    margin-bottom: 30px;
  }

  .principles__tittle {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .principles__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .principles__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .principles {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .principles__list {
    display: flex;
    margin: -15px;
  }

  .principles__item {
    margin: 15px;
    width: calc((100% - 120px) / 4);
  }

  .principles__tittle {
    text-align: left;
    font-size: 16px;
  }
}
