.section {
  padding: 60px 0;

  &-nopadding {
    padding: 0;
  }

  &-top-padding {
    padding: 0;
    padding-top: 60px;
  }

  &-bottom-padding {
    padding: 0;
    padding-bottom: 60px;
  }

  &--about {
    display: none;
  }
}
