.subscribe {
  // display: flex;

  &__button {
    margin-left: auto;
    margin-right: auto;
  }

  .subscribe__input {
    background: transparent;
    display: block;
    padding: 16px 15px;
    margin-bottom: 20px;

    width: 100%;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    @include font(400, 16px, 1.25, 0.03em);

    color: rgba(255, 255, 255, 0.6);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      outline: 0;
      border-color: $accent-color;
    }
  }
}
