body {
  background-color: $main-background-color;
  color: $main-text-color;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    padding-top: 61px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 81px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

section:nth-child(2n + 4) {
  background-color: $secondary-background-color;
}

.visualy_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
